@model HomeViewModel
@{
    ViewBag.Title = "You're getting old";
}
@section scripts{
    @Scripts.Render("~/bundles/ticker")
}
<div class="page-header">
    <h1>Hey @Model.Name</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Just how old are you?</div>
    <div class="panel-body">
        <div class="col-sm-4">
            <label>In Days:</label>
            @Model.AgeTimeSpan.TotalDays.ToString("N0")
        </div>
        <div class="col-sm-4">
            <label>In Minutes:</label>
            <span class="minutes">@Model.AgeTimeSpan.TotalMinutes.ToString("N0")</span>
        </div>
        <div class="col-sm-4">
            <label>In Seconds:</label>
            <span class="seconds">@Model.AgeTimeSpan.TotalSeconds.ToString("N0")</span>
        </div>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        How long until you're <strong>@Model.NextAge</strong>?
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            <label>In Days:</label>
            @Model.UntilNextAgeTimeSpan.TotalDays.ToString("N0")
        </div>
        <div class="col-sm-4">
            <label>In Minutes:</label>
            <span class="minutes-down">@Model.UntilNextAgeTimeSpan.TotalMinutes.ToString("N0")</span>
        </div>
        <div class="col-sm-4">
            <label>In Seconds:</label>
            <span class="seconds-down">@Model.UntilNextAgeTimeSpan.TotalSeconds.ToString("N0")</span>
        </div>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        What have <strong>you</strong> done with your life?
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            <label>How old you were when Taylor Swift was born:</label>
            @((Model.TSwiftTimeSpan.TotalDays / 365.25).ToString("F0")) years @(((Model.TSwiftTimeSpan.TotalDays % 365.25)/30).ToString("F0")) months
        </div>
        <div class="col-sm-4">
            And she already has five multi platinum albums. The first of which she released when she was 17 years old.
        </div>
        <div class="col-sm-4">
            To put that in perspective, that would have been <strong>@Model.TSwiftFirstAlbum.ToShortDateString()</strong> for you.
        </div>
    </div>
</div>